autopep8==2.0.1
chardet==5.1.0
Jinja2==3.1.2
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.2
numpy==1.24.2
pdoc==12.3.1
pdoc3==0.10.0
Pillow==9.4.0
pycodestyle==2.10.0
pycparser==2.21
pydot==1.4.2
Pygments==2.14.0
pyparsing==3.0.9
rustworkx==0.12.1
tomli==2.0.1
